html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
body {
    background-color: #e0e0e0;
}

h1, h2, p, ul, a {
    color: black;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    margin-left: 20px;
}

.button {
    padding: 5px;
    background-color: black;
}

.glass-box-header {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 30px;
background: #e0e0e0;
box-shadow:  19px 19px 38px #c5c5c5,
             -19px -19px 38px #fbfbfb;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
list-style: none;
display: flex;
margin-right: 5px;
}

nav ul li {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

nav ul li a {
    text-decoration: none;
}

.glass-box-main {
    width: 900px;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 30px;
background: #e0e0e0;
box-shadow:  19px 19px 38px #c5c5c5,
             -19px -19px 38px #fbfbfb;
}

main {
    padding: 30px;
}

footer {
    position: absolute;
    bottom: 30px;
}

